# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="file:./dev.db"
DATABASE_URL="postgresql://neondb_owner:npg_3eXbT0lGIhiu@ep-bold-brookgr-ahd382kxv23t-pooler.c-3.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
JWT_SECRET="votre-secret-key-123"
NEXT_PUBLIC_ADMIN_PASSWORD=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=